* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------- HEADER --------------------  */
.header {
    height: 15%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
.title {
    color: white;
    font-size: 25px;
}
.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#header-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-link:hover {
    background-color: #2c2c2c;
    color: white;
}
.nav-link.active {
    background-color: #2c2c2c;
    color: white;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.searchbar > input {
    width: 75%;
}
/* -- Search bar & Shop -- */
.input-searchbar {
    border: 2px solid white;
    border-radius: 7px;
}
.image-searchbar {
    background-color: black;
    width: 10%;
}
.image-shop {
    background-color: black;
    width: 10%;
}

/* -------------------- BODY -------------------- */
body {
    background-color: #3e3e3f;
}

/* -- Slider -- */
.slider {
    width: 70%;
    margin: auto;
}
/* -- Slider -- */

#chooseProduct {
    margin-left: 15%;
}

#carouselExampleControls{
    width:1100px;
}

.brand {
    margin-top: 20px;
    margin-bottom: 20px;
}
.imageBrand {
    height: 34px;
}
.nameBrand {
    color: #d7d7d7;
}

/* Drop down */
.btn-dropdown {
    background-color: #3e3e3f;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropItem {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid white;
    border-radius: 10px;
    z-index: 1;
}
.dropItem a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}
.dropItem a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropItem {
    display: block;
}
.dropdown:hover .btn-dropdown {
    background-color: #3e3e3f;
}
/* End Drop down */

.card-title {
    color: white;
    font-size: 15px;
    text-align: center;
}
.card-img-top{
    margin: 20px;
}
.top-card {
    width: 350px;
    height: 540px;
    margin: 10px;
    background-color: #323232;
    border-radius: 30px;
}
.cardMemory {
    border: 1px solid #1c1c1d;
    border-radius: 5px;
    color: #606060;
    background-color: #1c1c1d;
    padding: 5px;
    margin-bottom: 10px;
}
.old-price {
    text-decoration:line-through;
    font-size: 13px;
}
.percent-discount {
    font-size: 13px;
    text-decoration: none;
}

/* Footer */
.text-reset {
    text-decoration: none;
}