@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

body {
    background-color: #3e3e3e;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
}

.container>* {
    color: black;
}

hr {
    width: 95%;
    margin: 10px 0;
}

.submit-btn {
    margin: 0 auto;
}

.form-control::placeholder {
    color: lightgray;
    font-style: italic;
}