@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #3e3e3e;
    color: white;
}

a {
    text-decoration: none;
}

.white {
    color: white;
}

/* -------------------- HEADER --------------------  */
.header {
    height: 20%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 25px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#header-options {
    height: 100%;
}

#header-options>* {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

#header-options>*:hover {
    background-color: #323232;
}

.search-input {
    width: 60%;
    border-radius: 10px;
    text-indent: 10px;
}

.navbar-toggler-icon {
    background-color: lightgray !important;
}

/* -- Slider -- */
.slider {
    width: 70%;
    margin: auto;
}

/* -- End Slider -- */

.choose-series {
    width: 70%;
    margin: 0 auto;
}

#carouselExampleControls {
    width: 1100px;
}

.brand {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand-img {
    height: 35px;
}

.brand-name {
    color: #d7d7d7;
}

.bottom-card {
    width: 350px;
    height: 425px;
    margin: 10px;
    background-color: #323232;
    color: white;
    border-radius: 20px;
}

.bottom-card:hover {
    box-shadow: 2px 2px 2px 0 #010101;
}

.bottom-card-img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 20px;
}

.category-title {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.memory-card {
    color: #606060;
    background-color: #1c1c1d;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
    font-size: 13px;
    width: 50px;
}

#product-list {
    width: 80%;
    margin: 0 auto;
}

/* Footer */
.text-reset {
    text-decoration: none;
}