@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #3e3e3e;
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.white {
    color: white;
}

/* -------------------- HEADER --------------------  */
.header {
    height: 20%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.title {
    font-size: 25px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#header-options {
    height: 100%;
}

#header-options>* {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

#header-options>*:hover {
    background-color: #323232;
}


.navbar-toggler-icon {
    background-color: lightgray !important;
}

.user-icons {
    margin-left: 5px;
}

.user-icons a {
    margin: 0 10px;
}

#search {
    width: 200px;
}

/* Slider */
.carousel {
    width: 75%;
    height: 33%;
}

.carousel-indicators button {
    background-color: gray !important;
}

.carousel-indicators button.active {
    background-color: black !important;
}

.carousel-control-prev {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carousel-control-next {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.carousel-control-next-icon {
    height: 35px;
    width: 35px;
    outline: black;
    background-size: 90%, 90%;
    background-image: url('/images/right.png');
}

.carousel-control-prev-icon {
    height: 35px;
    width: 35px;
    outline: black;
    background-size: 90%, 90%;
    background-image: url('/images/left.png');
}


.carousel-item img {
    border-radius: 20px;
    height: 450px !important;

}

/* End of Slider */
/* -------------------- BODY -------------------- */

.top-banner-wrapper {
    width: 100%;
    height: 0;
    padding-top: 27.76%;
    /* height:width ratio */
    border: 2px solid white;
    background-image: url("/images/top-banner-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

#categories {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-card {
    width: 200px;
    height: 250px;
    margin: 10px;
    background-color: #323232;
    border-radius: 20px;
}

.top-card:hover {
    box-shadow: 2px 2px 2px 0 gray;
    cursor: pointer;
}

.top-card-img {
    width: 9rem;
    height: 8.5rem;
    margin-bottom: 20px;
}

.bottom-card {
    width: 280px;
    height: 425px;
    margin: 10px;
    background-color: #323232;
    color: white;
    border-radius: 20px;
}

.bottom-card:hover {
    box-shadow: 2px 2px 2px 0 #010101;
}

.bottom-card-img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 20px;
}

.category-title {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

/* ----- FOOTER ----- */
.text-reset {
    text-decoration: none;
}


/* Responsive */
@media only screen and (max-width: 768px) {
    .carousel {
        width: 100%;
        height: 33%;
    }

    .carousel-item img {
        border-radius: 10px;
        height: 100%;
    }

    .user-icons {
        margin-left: 50px;
    }
}